MONGODB_URI=mongodb://localhost:27017/esportsrefdb?retryWrites=true&w=majority
CLOUDINARY_URL=cloudinary://741947492169653:vkyuRmZ3EbSULnkfXJdtSqwhURw@dbplcha6k
DB_NAME=esportsrefdb
SENDGRID_API_KEY=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
EMAIL_FROM=info@esportsref.com
EMAIL_ADMIN=cjin79450@gmail.com
WEB_URI=http://localhost:3000
SESSION_SECRET=keyboard cat